body{
    background-color: lightgray;
}

#storyArea {
    background-color: lightgoldenrodyellow;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0px;
    padding-top: 10px;
    height: 22em;
    overflow-y: scroll;
}

#storyArea p::before{
    content: '\2003';
}

#userArea{
    height: 40%;
    /* background-color: lightgrey; */
    padding-bottom: 0px;
    margin-bottom: 6em;
    margin-top: .5em;
    text-align: center;
}

#statusBar{
    position: fixed;
    background-color: mediumslateblue;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 6em;
    transition: height .5s;
}

#menu{
    width: 4em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid grey;
    outline: none;
}

#menuButton{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 5px;
}

#testDiv{
    display: inline;
}

#menuChoices{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

#menuChoices button{
    width: 10em;
    border-radius: 5px;
    outline: 1px solid black;
    margin-bottom: 5px;
}

#choiceButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: opacity .5s;
    width: 50%;
    margin: auto;
}

#choiceButtons button{
    height: 100%;
}

#closeMenu{
    width: 30%;
    margin: auto;
    border-radius: 5px;
    outline: 1px solid black;
}

#closeItems{
    width: 30%;
    margin: auto;
    border-radius: 5px;
    outline: 1px solid black;
}

#choiceLeft{
    margin-right: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#choiceRight{
    margin-left: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#choiceLeft button{
    width: 10em;
}

#choiceRight button{
    width: 10em;
}

button{
    width: 100%;
    margin-top: 5px;
    height: 2em;
}

#settingsDiv{
    display: flex;
    text-align: center;
    margin-bottom: 15em;
}

#settingsDiv button{
    width: 50%;
    margin-bottom: 1em;
    border-radius: 5px;
    outline: 1px solid black;
}

.bar{
    border: 1px solid black;
    height: 5px;
    width: 100px;
    margin-top: 5px;
}
/*
    You should take some stamina damage when 
    getting direct hp damage too, maybe half or something

    Add a settings button to change font family and font size
*/
#hpbar2{
    height: 5px;
    width: 100%;
    background: red;
}

#mpbar2{
    height: 5px;
    width: 100%;
    background: blue;
}

#spbar2{
    height: 5px;
    width: 100%;
    background: green;
}

#hpbar{
    height: 5px;
    width: 100px;
    background: grey;
}

#mpbar{
    height: 5px;
    width: 100px;
    background: grey;
}

#spbar{
    height: 5px;
    width: 100%;
    background: grey;
}

#infoBars{
    display: flex;
    justify-content: center;
}

#infoBars span {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#infoBars p {
    margin-bottom: 0;
}

ul{
    color: lightgoldenrodyellow;
    width: 50%;
    list-style: none;
    font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#inventoryDiv{
    width: 100%;
    display: flex;
    margin-bottom: 14em;
    border: 1px solid black;
    box-shadow: 0px 10px 10px black;
}

#leftList{
    width: 50%;
    margin-right: 5px;
}

#rightList{
    width: 50%;
    margin-left: 5px;
}

#potions{
    margin: 0;
}

#rightList button{
    border-radius: 5px;
    outline: 1px solid black;
}

@media only screen and (min-height: 600px) {
      #storyArea{
        height: 25em;
    }
  }